.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Sub directories
**.idea
**.iml
**/bootstrap.yml
**/application-quyendt4.properties

.idea/**
*.iml/**
**/elasticsearch/**
**/logs/**
**/target/**

client/**.idea
*.log
